<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * New Customer block template
 *
 * @var $block \Magento\Customer\Block\Form\Login\Info
 */
?>

    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <div class="actions-toolbar">
            <div class="primary">
                <a href="http://demos.exinent.com/vishal/wholesale/" class="action create primary"><span><?php /* @escapeNotVerified */ echo __('Create Wholesale Accountt') ?></span></a>
            </div>
        </div>
    </div>
  
